@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/***** DOCUMENT *****/
body {
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
}

/**** NAVBAR ****/
#navbar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 2px -2px 8px 9px rgba(0,0,0,0.04);
    -moz-box-shadow: 2px -2px 8px 9px rgba(0,0,0,0.04);
    box-shadow: 2px -2px 8px 9px rgba(0,0,0,0.04);
}

#nav-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
#nav-home:hover {
    cursor: pointer;
}

#nav-logo {
    background-image: url(../img/logo.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    color: #1b2b36;
}

#nav-company-name {
    color: #1b2b36;
    /* font-family: 'Gafata', sans-serif; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Poiret One', cursive;
    margin: 20px 10px 20px 5px;
    font-size: 35px;
}

#nav-menu {
    margin: 5px;
}

#nav-list {
    display: flex;
    flex-direction: row;
    text-align: right;
    padding: 0.5em;
    list-style-type: none;
}

#nav-list li {
    padding: 10px;
    text-transform: uppercase;
    color: #1b2b36;
    font-family: 'Jura', sans-serif;
    font-weight: 300;
}

#nav-list li:hover {
    cursor: pointer;
    color: rgb(241, 163, 89);
    font-weight: 400;
}

/**** MAIN CONTENT ****/
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    font-family: 'Jura', sans-serif;
}

.section-title {
    font-weight: 300;
    font-size: 40px;
}

/*** SECTION 1 ***/
/** HOME **/
#section1 {
    background-image: url(https://images.pexels.com/photos/3612931/pexels-photo-3612931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: -1;
}

/*** SECTION 2 ***/
/** VALIDATED NETWORKS **/
#network-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#network-logo-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#network-logo-container a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#network-logo-container a:hover {
    opacity: 0.8;
}

.network-logo {
    background-size: cover;
    height: 100px;
    width: 100px;
}

#celo-logo {
    background-image: url(../img/networks/celo-logo.png);
}

#coda-logo {
    background-image: url(../img/networks/coda-logo.png);
}

#dfinity-logo {
    background-image: url(../img/networks/dfinity-logo.png);
}

#filecoin-logo {
    background-image: url(../img/networks/filecoin-logo.png);
}

#solana-logo {
    background-image: url(../img/networks/solana-logo.png);
}

.network-status {
    background: linear-gradient(to bottom, rgba(254,182,67,1) 0%, rgba(232,124,23,1) 100%);
    /* border-bottom: 3px solid rgb(177, 94, 16); */
    text-shadow: 0px -1px rgb(177, 94, 16);
    padding: 10px;
    margin: 20px;
    color: black;
    min-width: fit-content;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
}

.testnet {
    background: linear-gradient(to bottom, rgb(88, 216, 109) 0%, rgb(44, 122, 57) 100%);
    text-shadow: 0px -1px rgb(44, 122, 57);
}


/*** SECTION 3 ***/
/** OUR STANDARDS **/
#standards-container {
    background-color: #181c20;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100vw;
    height: 80vh;
}

#standards {
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
}

.standard {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.standards-logo {
    background-size: cover;
    height: 100px;
    width: 100px;
}

#sustainability-logo {
    background-image: url(../img/standards/sustainability.png);
}

#reliability-logo {
    background-image: url(../img/standards/reliability.png);
}

#security-logo {
    background-image: url(../img/standards/security.png);
}

#privacy-logo {
    background-image: url(../img/standards/privacy.png);
}

.standard-details {
    width: 15vw;
}


/*** SECTION 4 ***/
/** ABOUT US **/
#about-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.team-member {
    width: 20vw;
    margin: 40px;
}

/* photos of the team */
.member-photo {
    width: 20vw;
    height: 20vw;
    background-size: cover;
}

#photo-1 {
    background-image: url(../img/team/david.png);
}

#photo-2 {
    background-image: url(../img/team/robert.png);
}


/*** SECTION 4 ***/
/** CONTACT **/
#contact-container {
    background-color: #181c20;
    color: white;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
.contact-logo {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 5px;
}

.contact-logo:hover {
    opacity: 0.7;
}

#email {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    border-bottom: yellow 1px solid;
}

#email-logo {
    background-image: url(../img/contact/mail.png);
    margin: 15px;
}

#twitter-logo {
    background-image: url(../img/contact/twitter.png);
}

#telegram-logo {
    background-image: url(../img/contact/telegram.png);
    border-radius: 2px;
}

#github-logo {
    background-image: url(../img/contact/github.png);
    border-radius: 2px;
}

#social-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}



/**** FOOTER ****/
#footer {
    background-color: #181c20;
    color: rgba(255, 255, 255, 0.192);
    font-family: 'Jura', sans-serif;;
    font-size: 12px;
    padding: 20px;
    pointer-events: none;
}

#footer p {
    margin-top: -10px;
}