@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/***** DOCUMENT *****/
body {
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
}

/**** NAVBAR ****/
#navbar {
    background-color: #fff;
    opacity: 0.97;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 2px -2px 8px 9px rgba(0,0,0,0.04);
    -moz-box-shadow: 2px -2px 8px 9px rgba(0,0,0,0.04);
    box-shadow: 2px -2px 8px 9px rgba(0,0,0,0.04);
}

#nav-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
#nav-home:hover {
    cursor: pointer;
}

#nav-logo {
    background-image: url(../img/logo.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    color: #1b2b36;
}

#nav-company-name {
    color: #1b2b36;
    font-family: 'Poiret One', cursive;
    margin: 20px 10px 20px 5px;
    font-size: 35px;
}

#nav-menu {
    margin: 5px;
}

#nav-list {
    display: flex;
    flex-direction: row;
    text-align: right;
    padding: 0.5em;
    list-style-type: none;
}

#nav-list li {
    padding: 10px;
    text-transform: uppercase;
    color: #1b2b36;
    font-family: 'Jura', sans-serif;
    font-weight: 300;
}

#nav-list li:hover {
    cursor: pointer;
    color: rgb(241, 163, 89);
    /* font-weight: 400; */
    border-bottom: rgb(241, 163, 89) solid 2px;
}

/**** MAIN CONTENT ****/
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    font-family: 'Jura', sans-serif;
}

.section-title {
    font-weight: 300;
    font-size: 40px;
}

/*** SECTION 1 ***/
/** HOME **/
#section1 {
    background-image: url(https://images.pexels.com/photos/3612931/pexels-photo-3612931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: -1;
}


/*** SECTION 2 ***/
/** VALIDATED NETWORKS **/
#network-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin: 10px 10px 50px 10px;
}

#network-logo-container {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.networks-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

#network-logo-container a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.network-logo {
    background-size: cover;
    height: 130px;
    width: 130px;
    z-index: -1;
}

.network-logo:hover {
    opacity: 0.8;
}

#celo-logo {
    background-image: url(../img/networks/celo-logo.png);
}

#coda-logo {
    background-image: url(../img/networks/coda-logo.png);
}

#dfinity-logo {
    background-image: url(../img/networks/dfinity-logo.png);
}

#filecoin-logo {
    background-image: url(../img/networks/filecoin-logo.png);
}

#solana-logo {
    background-image: url(../img/networks/solana-logo.png);
}

#cosmos-logo {
    background-image: url(../img/networks/cosmos-logo.png);
}

.network-status {
    border: 2px solid #181c20;
    padding: 10px 15px;
    margin: 20px;
    color: #181c20;
    min-width: fit-content;
    width: 13vw;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
}


/*** SECTION 3 ***/
/** OUR STANDARDS **/
#standards-container {
    background-color: #181c20;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100vw;
    height: 80vh;
}

#standards {
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
}

.standard {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.standards-logo {
    background-size: cover;
    height: 100px;
    width: 100px;
}

#sustainability-logo {
    background-image: url(../img/standards/sustainability.png);
}

#reliability-logo {
    background-image: url(../img/standards/reliability.png);
}

#security-logo {
    background-image: url(../img/standards/security.png);
}

#privacy-logo {
    background-image: url(../img/standards/privacy.png);
}

.standard-details {
    width: 15vw;
}


/*** SECTION 4 ***/
/** ABOUT US **/
#about-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    
}

.team-member {
    width: 20vw;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* photos of the team */
.member-photo {
    width: 15vw;
    height: 15vw;
    background-size: cover;
}

.member-details {
    height: 100px;
}


#photo-1 {
    background-image: url(../img/team/david.png);
}

#photo-2 {
    background-image: url(../img/team/robert.png);
}

#photo-3 {
    background-image: url(../img/team/azra.png)
}


/*** SECTION 4 ***/
/** CONTACT **/
#contact-container {
    background-color: #181c20;
    color: white;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
.contact-logo {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 5px;
}

.contact-logo:hover {
    opacity: 0.7;
}

#email {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-image-slice: 1;
}

#email-logo {
    background-image: url(../img/contact/mail.png);
    margin: 15px;
}

#twitter-logo {
    background-image: url(../img/contact/twitter.png);
}

#telegram-logo {
    background-image: url(../img/contact/telegram.png);
    border-radius: 2px;
}

#github-logo {
    background-image: url(../img/contact/github.png);
    border-radius: 2px;
}

#social-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


/**** FOOTER ****/
#footer {
    background-color: #181c20;
    color: rgba(255, 255, 255, 0.192);
    font-family: 'Jura', sans-serif;;
    font-size: 12px;
    padding: 20px;
    pointer-events: none;
}

#footer p {
    margin-top: -10px;
}

#legal-disclosure {
    margin-bottom: 30px;
}